footer.wrapper.footer
  .container
    a(href="https://github.com/nefla/numdly")
      include ../../icons/github.svg
    .license-text
      p Released under the MIT license

footer.wrapper.footer-tile
  .container
    p Copyright © 2018
