nav.wrapper.nav
  .container
    ul.menu
      li #[a(href="#try") Try]
      li #[a(href="#install") Install]
      li #[a(href="#usage") Use]
header.wrapper.header
  .container
    h1.main-title numdly
    h2.sub-title Converts numbers into words.

    a.button(href="https://github.com/nefla/numdly") Github
