section.section.try#try
  .container
    h2 Try it
    div
      input(type="text" placeholder="Type any number" id="input" class="input")
    div
      //- textarea(id="output" rows="5" class="output")
      div#output.output
